/figures/
/tests/optimization_logs/
fault-tolerant-flight-control-drl/envs/thrust_obs
/assets/matlab/
/tests/verification.py
/tests/scratchpad.py
.idea
flying2.py

*.xml
*.pyc
*.xlsx
*.pyc
*.pyc
*.pyc
.DS_Store
fix.py
